@charset "utf-8";

// Bootstrap
@import "../bootstrap/scss/bootstrap";
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// Fontawesome
$fa-font-path: "./webfonts";
@import "../font-awesome/scss/fontawesome.scss";
@import "../font-awesome/scss/solid.scss";

html {
  @extend .bg-dark;
}

main {
  @extend .flex-shrink-0;
  @extend .container;
  min-height: 30rem;
}

footer {
  @extend .bg-dark;
}

.css-truncate.css-truncate-overflow,
.css-truncate .css-truncate-overflow,
.css-truncate.css-truncate-target,
.css-truncate .css-truncate-target {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.css-truncate.css-truncate-target,
.css-truncate .css-truncate-target {
  display: inline-block;
  max-width: 125px;
  vertical-align: top;
}

@mixin circle($size) {
  font-size: $size;
  width: 2.5em;
  height: 2.5em;
  margin: 3px;
  padding: 0;
  border-width: 0.2em;
  border-radius: 50%;
  line-height: 2em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.btn-circle {
  @include circle(1.5rem);
  border-color: $primary;
  @extend .bg-transparent;
  > .fa {
    color: $primary;
    margin-bottom: 1em;
  }
  &:hover {
    @extend .bg-primary;
    > .fa {
      color: $color-contrast-light;
    }
  }
}

.anchor-silent {
  @extend .text-decoration-none;
  color: $input-plaintext-color;
}

.flex-between-vcenter {
  @extend .d-flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

.hover-primary {
  &:hover {
    color: $primary;
  }
}

.card-dodge {
  @extend .card;
  box-shadow: none;
  border-color: transparent;
  &:hover {
    box-shadow: $card-box-shadow;
    border-color: $card-border-color;
  }
}

.Icon {
  @extend .hover-primary;
}

.Section {
  @extend .card;
  @extend .pb-1;
  > .card-header {
    @extend .d-flex;
    @extend .fw-bold;
    align-items: center;
    filter: opacity(0.5);
    > .card-title {
      line-height: 0.15;
    }
    > .card-footer {
      @extend .d-flex;
    }
    .Icon {
      @extend .btn;
    }
  }
  &:hover {
    @extend .border-secondary;
    > .card-header {
      filter: opacity(1);
    }
  }
  &:focus-within {
    @extend .border-primary;
    > .card-header > .Icon {
      display: inherit;
    }
  }
}

.ProjCard {
  @extend .col;
  @extend .card-dodge;
  @extend .shadow-sm;
  > .card-header {
    @extend .flex-between-vcenter;
    min-height: 2em;
    > .card-title {
      @extend .anchor-silent;
      line-height: 0;
    }
    > .Icon {
      transform: scale(0);
    }
  }
  &:hover > .card-header > .Icon {
    transform: scale(1);
  }
}
