@charset "utf-8";

// Bootstrap
@import "../bootstrap/scss/bootstrap";
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// Fontawesome
$fa-font-path: "./webfonts";
@import "../font-awesome/scss/fontawesome.scss";
@import "../font-awesome/scss/solid.scss";

// Truncate
.css-truncate.css-truncate-overflow,
.css-truncate .css-truncate-overflow,
.css-truncate.css-truncate-target,
.css-truncate .css-truncate-target {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.css-truncate.css-truncate-target,
.css-truncate .css-truncate-target {
  display: inline-block;
  max-width: 125px;
  vertical-align: top;
}

html {
  @extend .bg-dark;
}

footer {
  @extend .bg-dark;
}

.btn-circle {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.4;
  padding: 0;
  border-width: 0.25rem;
  border-color: $primary;
  @extend .bg-transparent;
  > .fa {
    color: $primary;
  }
  &:hover {
    @extend .bg-primary;
  }
}

.Icon {
  &:hover {
    color: $primary;
  }
}

.Card {
  @extend .card;
  @extend .mb-1;
  > .card-header {
    @extend .d-flex;
    @extend .justify-content-between;
    align-items: center;
    filter: opacity(0.5);
    > .Icon {
      display: none;
      @extend .btn;
      @extend .bg-transparent;
    }
    > .card-title {
      line-height: 0.3;
    }
    > .card-footer {
      @extend .d-flex;
    }
  }
  &:hover {
    @extend .border-secondary;
    > .card-header {
      filter: opacity(1);
      > .Icon {
        display: inherit;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  &:focus-within {
    @extend .border-primary;
    > .card-header > .Icon {
      display: inherit;
    }
  }
}
